/*
!.gitignore
!.github/
!robots.txt
!backup/
!wp-content/
!README.md
.DS_Store

.idea/
.history/

wp-content/*
!wp-content/themes/

wp-content/themes/*
!wp-content/themes/wincars/

wp-content/themes/wincars/node_modules/
wp-content/themes/wincars/assets/package-lock.json
wp-content/themes/wincars/assets/*.html
wp-content/themes/wincars/assets/css
wp-content/themes/wincars/gulp/version.json
wp-content/themes/wincars/package-lock.json
