<header>
	<div class="header">
		<div class="container">
			<div class="header-top-links">
				<a href='#' rel='nofollow noopener sponsored' target='blank'>Нашите оферти в mobile.bg</a>
				<a href='tel:+359889333631' rel='nofollow noopener sponsored' target='blank'>Контакти
					+359889333631</a>
			</div>
			<div class="header-media active" data-function="toggleClassName" data-anim="true">
				<div class="header-menu-wrapper">
					<button class="header-menu-btn">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="header-menu">
						<ul id="menu-main-navigation" class="menu">
							<li class="menu-item current-menu-item current_page_item">
								<a href="/html/front-page.html" aria-current="page">Главната</a>
							</li>
							<li class="menu-item menu-item-has-children">
								<a href="#">Автомобили</a>
							</li>
							<li id="menu-item-1052" class="menu-item menu-item-has-children">
								<a href="/html/about.html">За нас</a>
							</li>
							<li id="menu-item-1053" class="menu-item">
								<a href="/html/faq.html">FAQ</a>
							</li>
							<li id="menu-item-1053" class="menu-item">
								<a href="#">Контакти</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header-media__img">
					<img src="@@img" fetchpriority="high">
				</div>
				<div class="header-media__cta">
					<div class="header-media__cta-btn-wrapper">
						<button class="header-media__cta-btn accent-btn open-popup" data-target="main-form">Остави запитване</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
