*,
*:before,
*:after {
	box-sizing: border-box;
}
.img-wrapper {
	@extend %img-wrapper;
}
.cover-img {
	@extend %cover-img;
}
.text {
	@extend %text;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.no-scroll {
	overflow: hidden;
}

.screen-reader-response {
	display: none;
}
a {
	transition: color 0.2s;
	text-decoration: none;
}
input,button, textarea {
	background: none;
	border: none;
	outline: none;
}
button {
	cursor: pointer;
}
