%img-wrapper {
	line-height: 0;
	img, svg,
	picture {
		width: 100%;
		height: auto;
	}
}
%cover-img {
	line-height: 0;
	img, svg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.img-wrapper {
	@extend %img-wrapper;
}
.cover-img {
	@extend %cover-img;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}

.no-scroll {
	overflow: hidden;
}

.screen-reader-response {
	display: none;
}
a {
	transition: color 0.2s;
	text-decoration: none;
}
