%img-wrapper {
	line-height: 0;
	img, svg,
	picture {
		width: 100%;
		height: auto;
	}
}
%cover-img {
	line-height: 0;
	img, svg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.img-wrapper {
	@extend %img-wrapper;
}
.cover-img {
	@extend %cover-img;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
a {
	color: var(--default-font-color);
	text-decoration: none;
}

.no-scroll {
	overflow: hidden;
}
.ws-editor,
.text {
	p,
	div,
	ul {
		margin-bottom: 20px;
	}
	ul {
		display: inline-block;
		text-align: left;
		margin-left: 13px;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}
.screen-reader-response {
	display: none;
}

/***********************************************************************************************************************
**	SWIPER BASE STYLES
***********************************************************************************************************************/
.swiper-prev,
.swiper-next {}
.swiper-prev {

}
.swiper-next {

}

.swiper-button-lock {

}
.swiper-button-disabled {

}
