.header {
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: 30px;
	@media (min-width: $breakLarge) {
		margin-top: clamp(20px, vw(45), 45px);
	}
	@media (max-width: $breakLarge) {
		padding: 0;
	}
	.header-container {
		position: relative;
		transition: padding 0.3s;
	}
	.header-top-line {
		padding-left: clamp(20px, vw(36), 36px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: $breakLarge) {
			top: 23px;
			left: 15px;
			width: calc(100% - 30px);
			padding: 15px 20px;
			background-color: var(--color-new-dark);
			border: 1px solid var(--color-orange);
			border-radius: clamp(30px, calc(40 / 992 * 100vw), 40px);
		}
		@media (max-width: $breakSmall) {
			padding: 10px 12px;
			left: 7px;
			width: calc(100% - 14px);
		}
	}
	hr {
		margin: 30px 20px 0;
		width: 100%;
		height: 1px;
		border: none;
		background-color: #383434;
	}
	.header-banner {
		margin: 30px 20px 20px;
		border-radius: 10px;
		overflow: hidden;
		@media (min-width: $breakMedium) {
			display: none;
		}
	}
	.header-links {
		width: 100%;
		margin: 20px 0 25px;
		a {
			display: block;
			font-family: "Montserrat";
			font-weight: 400;
			font-size: 18px;
			line-height: 1.2;
			color: #fff;
			text-align: center;
			margin-bottom: 6px;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				color: var(--color-orange);
			}
		}
	}
}
