.header {
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: 30px;
	@media (min-width: $breakLarge) {
		margin-top: clamp(20px, vw(45), 45px);
	}
	@media (max-width: $breakLarge) {
		padding: 0;
	}
	.header-container {
		position: relative;
		transition: padding 0.3s;
	}
	.header-top-line {
		padding-left: clamp(20px, vw(36), 36px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $breakLarge) {
			top: 23px;
			left: 15px;
			width: calc(100% - 30px);
			padding: 15px 20px;
			background-color: var(--color-new-dark);
			border-radius: 40px;
		}
	}
}
