body {
	min-width: 345px;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	background-color: var(--global-bg-grey);
	-webkit-font-smoothing: antialiased;
}
.container {
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: clamp(15px, vw(30), 30px);
}

.accent-btn {
	background-color: var(--color-orange);
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: var(--color-orange-hover);
	}

}
footer {
	margin-top: auto;
}
