body {
	min-width: 345px;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	background-color: var(--global-bg-grey);
	-webkit-font-smoothing: antialiased;
}
.container {
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: 30px;
	@media (max-width: $breakMedium) {
		padding-inline: clamp(15px, calc(30 / 768 * 100vw), 30px);
	}
}

.accent-btn {
	background-color: var(--color-orange);
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: var(--color-orange-hover);
	}

}
/***********************************************************************************************************************
**	MARGINS AND PADDINGS
***********************************************************************************************************************/
.p-tb-22-44 {
	padding-top: clamp(30px, vw(44), 44px);
	padding-bottom: clamp(30px, vw(44), 44px);
}
footer {
	margin-top: auto;
}
