/***********************************************************************************************************************
**	TYPOGRAPHICS
***********************************************************************************************************************/
h1 {
	font-weight: 600;
	font-size: clamp(50px, vw(110), 110px);
	line-height: 1;
	color: var(--default-font-color);
	@media (max-width: 1450px) {
		font-size: clamp(40px, calc(82 / 1440 * 100vw), 82px);
	}
}
