/***********************************************************************************************************************
**	BREAKPOINT AND WIDTH VARIABLES
***********************************************************************************************************************/

$maxWidth: 1440;
$mobWidth: 414;
// $contentWidth: calc(#{$maxWidth}px);

$breakSmall: 575.98px;
$breakMedium: 767.98px;
$breakLarge: 991.98px;
$breakExtra: 1199.98px;
$breakHuge: 1439.98px;

/***********************************************************************************************************************
**	COLOR VARIABLES
***********************************************************************************************************************/
:root {
	--global-bg-grey: #252525;
	--color-orange: #FCB001;
	--color-orange-hover: #FC8901;
	--color-black: #0A0A0A;
	--color-new-dark: #1B1B1B;
	--color-medium-dark: #4E4949;
	--color-light-blue: #DAE1E7;

}
