/***********************************************************************************************************************
**	BREAKPOINT AND WIDTH VARIABLES
***********************************************************************************************************************/

$maxWidth: 1440;
$mobWidth: 414;
// $contentWidth: calc(#{$maxWidth}px);

$breakSmall: 575.98px;
$breakMedium: 767.98px;
$breakLarge: 991.98px;
$breakExtra: 1199.98px;
$breakHuge: 1439.98px;

/***********************************************************************************************************************
**	COLOR VARIABLES
***********************************************************************************************************************/
:root {
	--global-bg-grey: #252525;
	--color-orange: #fcb001;
	--color-orange-hover: #fc8901;
	--color-black: #0a0a0a;
	--color-new-dark: #1b1b1b;
	--color-medium-dark: #4e4949;
	--color-light-blue: #dae1e7;
	--color-white: #fdfdfd;
}
