@import "inc/vars";
@import "inc/mixins";
@import "inc/extends";

.error404 {
	font-family: "Montserrat";
	.header {
		margin: 50px 0 20px;
	}
	h1 {
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 60px;
		line-height: 1;
	}
	.message {
		font-size: 20px;
		p {
			margin-bottom: 15px;
		}
	}
	.link-to-home {
		display: block;
		text-align: center;
		color: var(--color-orange);
		&:hover {
			text-decoration: underline;
			color: var(--color-orange-hover)
		}
	}
}

@import "inc/footer";

