// @import "node_modules/reset-css/sass/reset";
@import "inc/default";
@import "inc/general";
@import "inc/vars";
@import "inc/mixins";
body {
	min-width: 345px;
}
.watermark {
	margin-inline: auto;
	&__input {
		display: flex;
		justify-content: center;
		#uploaud {
			display: none;
		}
		.upload-input {
			cursor: pointer;
			margin-inline: auto;
			padding: 10px 0;
			min-width: 331px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ffb727;
			border-radius: 5px;
			&__img {
				padding: 0 10px 0 20px;
				width: 54px;
			}
			&__text {
				flex-grow: 1;
				padding: 0 20px 0 10px;
				font-size: 20px;
				line-height: 1;
				text-align: center;
			}
		}
	}
	&__images {
		margin-top: 50px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		position: relative;
		line-height: 0;
		&:not(:first-child) {
			margin-top: 30px;
		}
		&::after {
			position: absolute;
			content: '';
			right: 5px;
			bottom: 5px;
			aspect-ratio: 1 / 1;
			width: 24%;
			line-height: 0;
			background: url('@img/watemark/logo-bg-transparent-cleaned.png') no-repeat;
			background-size: contain;
			border-radius: 50%;
			overflow: hidden;
		}
	}
}
.watermark-page {
	&__controls {
		max-width: 95%;
		margin: 30px auto 0;
		display: flex;
		justify-content: center;
		column-gap: 30px;
	}
	&-btn {
		min-width: 150px;
		max-width: 200px;
		appearance: none;
		padding: 10px 20px;
		font-size: 20px;
		line-height: 1;
		color: #fff;
		text-align: center;
		border-radius: 5px;
		background-color: #000;
		border: 2px solid #000;
		transition: 0.3s;
		cursor: pointer;
		&:disabled {
			opacity: 0.6;
		}
		&:not(:disabled) {
			&:hover {
				color: #000;
				background-color: #fff;
				border: 2px solid #ccc;
			}
		}
	}
	.footer {
		margin-top: 100px;
	}
}
