%feedback-content {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(17 / 14);
	color: var(--color-light-blue);
}
.feedback {
	min-height: clamp(175px, vw(185), 185px);
	padding: clamp(16px, vw(30), 30px);
	background-color: var(--color-new-dark);
	border-radius: clamp(20px, vw(32), 32px);
	cursor: pointer;
	&.fb-hovered {
		.feedback-preview {
			opacity: 0;
		}
	}
	&__header {
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 15px;
		display: flex;
		column-gap: 20px;
		border-bottom: 1px solid var(--color-medium-dark);
		.feedback-preview {
			position: absolute;
			left: 0;
			bottom: -16px;
			width: 100%;
			height: 51px;
			transform: translateY(100%);
			@extend %feedback-content;
			overflow: hidden;
			transition: opacity 0.5s;
		}
	}
	&__header-img {
		min-width: 43px;
		max-width: 43px;
	}
	&__header-name {
		margin-bottom: 5px;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(22 / 18);
		color: #fff;
		@media (min-width: $breakSmall) {
			font-size: clamp(14px, vw(18), 18px);
		}
	}
	&__header-car {
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
		color: var(--color-orange);
	}
	&__content {
		display: none;
		min-height: 51px;
		@extend %feedback-content;
	}
}
