.header-menu-wrapper {
	position: absolute;
	top: 18px;
	left: clamp(20px, vw(55), 55px);
	z-index: 2;
	display: flex;
	@media (min-width: $breakLarge) {
		column-gap: 22px;
		align-items: center;
	}
	@media (max-width: $breakLarge) {
		position: absolute;
		top: -1px;
		left: 0;
		width: 51px;
		height: 46px;
		// display: flex;
		flex-direction: column;
		background-color: var(--global-bg-grey);
		border-radius: 0 0 21px 0;
		overflow: visible;
		transition:
			width 0.4s,
			height 0.4s;
	}
}

.header-logo {
	min-width: 124px;
	max-width: 124px;
	@media (max-width: $breakLarge) {
		position: absolute;
		top: 19px;
		left: 50vw;
		transform: translateX(-50%);
	}
	@media (max-width: $breakMedium) {
		min-width: clamp(100px, calc(124 / 768 * 100vw), 124px);
		max-width: clamp(100px, calc(124 / 768 * 100vw), 124px);
		top: 50%;
		left: unset;
		right: -30px;
		transform: translate(100%, -50%);
	}
	@media (max-width: 410px) {
		top: 55%;
		right: -20px;
		min-width: 60px;
		max-width: 60px;
	}
}
.header-menu-btn {
	position: relative;
	top: 0;
	left: 0;
	min-width: 72px;
	max-width: 72px;
	min-height: 64px;
	max-height: 64px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background: url("../../img/header-menu-contur.svg") no-repeat;
	background-size: contain;
	background-position: -1px -1px;
	cursor: pointer;
	&__inner {
		position: relative;
		top: 7px;
		left: 11px;
		min-width: 36px;
		max-width: 36px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		span {
			display: block;
			margin: 4px 0;
			height: 2px;
			border-radius: 5px;
			background-color: var(--color-orange);
			transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
			&:nth-child(1) {
				width: 50%;
			}
			&:nth-child(2) {
				width: 100%;
			}
			&:nth-child(3) {
				width: 75%;
			}
		}
	}
	&.opened {
		.header-menu-btn__inner span {
			&:nth-child(1) {
				transform-origin: bottom;
				transform: rotatez(45deg) translate(4px, 0px);
			}
			&:nth-child(2) {
				transform-origin: top;
				transform: rotatez(-45deg);
			}
			&:nth-child(3) {
				transform-origin: bottom;
				width: 50%;
				transform: translate(15px, -5px) rotatez(45deg);
			}
		}
	}
	@media (min-width: $breakLarge) {
		display: none;
	}
}
.header-menu {
	@media (max-width: $breakLarge) {
		margin-top: 50px;
		&--opened {
			.menu-item {
				transform: translateX(0) !important;
			}
		}
	}
	.menu {
		padding: 0 40px;
		list-style: none;
		background-color: var(--global-bg-grey);
		overflow: hidden;
		@media (min-width: $breakLarge) {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 30px;
			border-radius: 80px;
			transition: column-gap 0.5s;
		}
		@media (max-width: $breakLarge) {
			visibility: hidden;
			&--visible {
				visibility: visible;
			}
		}
	}
	.menu-item {
		height: 100%;
		display: flex;
		align-items: center;
		@media (max-width: $breakLarge) {
			justify-content: center;
			transform: translateX(-100vw);
			transition: transform 0.3s;
			&:nth-child(1) {
				transition-delay: 0s;
			}
			&:nth-child(2) {
				transition-delay: 0.1s;
			}
			&:nth-child(3) {
				transition-delay: 0.2s;
			}
			&:nth-child(4) {
				transition-delay: 0.3s;
			}
			&:nth-child(5) {
				transition-delay: 0.4s;
			}
			&:nth-child(6) {
				transition-delay: 0.5s;
			}
		}
		a {
			padding: 12px 0;
		}
		&:hover {
			a {
				padding: 12px 5px;
				color: var(--color-orange);
			}
		}
		&.current_page_item {
			a {
				color: var(--color-orange);
			}
		}
	}
	.menu-item a {
		font-family: "Poppins";
		font-weight: 600;
		font-size: clamp(16px, vw(18), 18px);
		line-height: 1;
		color: #fff;
		transition:
			padding 0.5s,
			color 0.5s;
		@media (max-width: $breakLarge) {
			font-size: 24px;
		}
	}
}
body.menu-open {
	.header-menu-wrapper {
		position: fixed;
		padding-top: 20px;
		top: 0;
		// top: 49px;
		width: 100vw;
		height: calc(100dvh - 50px);
		border-radius: 0;
		@media (max-width: 500px) {
			height: calc(100dvh - 36px);
		}
		// @media (max-width: 400px) {
		// 	top: 36px;
		// }
	}
	.simple-menu-wrapper {
		.header-menu-wrapper {
			padding-top: 20px;
			background-color: var(--global-bg-grey);
			top: 0;
		}
	}
	.header-logo {
		display: none;
	}
	.header-top-links::after {
		width: 100%;
	}
}
