.header-menu-wrapper {
	position: absolute;
	top: 18px;
	left: clamp(20px, vw(55), 55px);
	z-index: 2;
	@media (max-width: $breakLarge) {
		position: absolute;
		top: -1px;
		left: 0;
		width: 51px;
		height: 46px;
		display: flex;
		flex-direction: column;
		background-color: var(--global-bg-grey);
		border-radius: 0 0 21px 0;
		overflow: visible;
		transition: width 0.7s, height 0.7s;
	}
	// @media (max-width: 400px) {
	// 	top: 0;
	// 	// top: 35px;
	// }
}
.header-menu-btn {
	position: relative;
	top: -1px;
	left: -1px;
	min-width: 72px;
	max-width: 72px;
	min-height: 64px;
	max-height: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	background: url("../../img/header-menu-contur.svg") no-repeat;
	background-size: contain;
	span {
		width: 50%;
		height: 2px;
		border-radius: 2px;
		background-color: var(--color-orange);
		transform: translate(-20%, -300%);
	}
	@media (min-width: $breakLarge) {
		display: none;
	}
}
.header-menu {
	@media (max-width: $breakLarge) {
		margin-top: 50px;
		&--opened {
			.menu-item {
				transform: translateX(0)!important;
			}
		}
	}
	.menu {
		padding: 0 40px;
		list-style: none;
		background-color: var(--global-bg-grey);
		overflow: hidden;
		@media (min-width: $breakLarge) {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 30px;
			border-radius: 80px;
			transition: column-gap 0.5s;
		}
		@media (max-width: $breakLarge) {
			visibility: hidden;
			&--visible {
				visibility: visible;
			}
		}
	}
	.menu-item {
		height: 100%;
		display: flex;
		align-items: center;
		@media (max-width: $breakLarge) {
			justify-content: center;
			transform: translateX(-100vw);
			transition: transform 0.3s;
			&:nth-child(1) {
				transition-delay: 0s;
			}
			&:nth-child(2) {
				transition-delay: 0.1s;
			}
			&:nth-child(3) {
				transition-delay: 0.2s;
			}
			&:nth-child(4) {
				transition-delay: 0.3s;
			}
			&:nth-child(5) {
				transition-delay: 0.4s;
			}
		}
		a {
			padding: 12px 0;
		}
		&:hover {
			a {
				padding: 12px 5px;
				color: var(--color-orange);
			}
		}
		&.current_page_item {
			a {
				color: var(--color-orange);
			}
		}
	}
	.menu-item a {
		font-family: "Poppins";
		font-weight: 600;
		font-size: clamp(16px, vw(18), 18px);
		line-height: 1;
		color: #fff;
		transition:
			padding 0.5s,
			color 0.5s;
		@media (max-width: $breakLarge) {
			font-size: 24px;
		}
	}
}
body.menu-open {
	.header-menu-wrapper {
		position: fixed;
		top: 49px;
		width: 100vw;
		height: calc(100dvh - 50px);
		border-radius: 0;
		@media (max-width: 500px) {
			height: calc(100dvh - 36px);
		}
		@media (max-width: 400px) {
			top: 36px;
		}
	}
	.header-top-links::after {
		width: 100%;
	}
}
