// Fonts
// Montserrat 800
.header-media {
	position: relative;
	border-radius: clamp(24px, vw(32), 32px);
	overflow: hidden;
	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__cta {
		position: absolute;
		width: clamp(250px, vw(305), 305px);
		aspect-ratio: 305 / 97;
		top: -1px;
		right: -2px;
		background: url('../../img/header-media/cta-bg.svg') no-repeat;
		background-position: left top;
		background-size: contain;
		@media (max-width: $breakMedium) {
			width: clamp(220px, calc(242 / 768 * 100vw), 242px);
		}
	}
	&__cta-btn-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__cta-btn {
		position: absolute;
		right: 24px;
		bottom: clamp(26px, vw(36), 36px);
		width: clamp(180px, vw(228), 228px);
		height: 41px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Montserrat";
		font-weight: 800;
		font-size: clamp(12px, vw(14), 14px);
		line-height: 1;
		text-transform: uppercase;
		color: var(--color-black);
		border-radius: 50px;
		transition: right 1s, width 1s;
		@media (max-width: $breakMedium) {
			width: clamp(159px, calc(180 / 768 * 100vw), 180px);
			bottom: clamp(22px, vw(36), 36px);
			font-size: clamp(10px, calc(12 / 768 * 100vw), 12px);
		}
		@media (max-width: $breakSmall) {
			height: 34px;
		}
		&:hover {
			width: clamp(200px, vw(248), 248px);
			right: 4px;
			@media (max-width: $breakMedium) {
				width: clamp(179px, calc(200 / 768 * 100vw), 200px);
			}
		}
	}

}
