.header-media {
	position: relative;
	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		border-radius: clamp(24px, vw(32), 32px);
		overflow: hidden;
		img,
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transform: scale(1.4);
			transition: transform 1.4s;
		}
	}
	&__cta {
		margin-top: -1px;
		margin-right: -1px;
		@media (min-width: $breakLarge) {
			width: clamp(250px, vw(305), 305px);
			aspect-ratio: 305 / 97;
			background: url("../../img/header-media/cta-bg.svg") no-repeat;
			background-position: left top;
			background-size: contain;
		}
		@media (max-width: $breakLarge) {
			width: clamp(220px, calc(250 / 992 * 100vw), 250px);
			height: 42px;
		}
		@media (max-width: $breakSmall) {
			width: auto;
		}
	}
	&__cta-btn-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__cta-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Montserrat";
		font-weight: 800;
		line-height: 1;
		text-transform: uppercase;
		color: #fff;
		border-radius: 50px;
		transition:
			right 1s,
			width 1s;
		@media (min-width: $breakLarge) {
			position: absolute;
			right: 24px;
			bottom: clamp(22px, vw(32), 32px);
			width: clamp(180px, vw(228), 228px);
			height: 42px;
			font-size: clamp(12px, vw(14), 14px);
			&:hover {
				width: clamp(200px, vw(248), 248px);
				right: 4px;
			}
		}
		@media (max-width: $breakLarge) {
			width: 100%;
			height: 100%;
			font-size: clamp(14px, calc(16 / 992 * 100vw), 16px);
		}
		@media (max-width: $breakSmall) {
			padding: 0 22px;
			font-size: 13px;
		}
		@media (max-width: 414px) {
			padding: 0 clamp(15px, calc(22 / 576 * 100vw), 22px);
			font-size: clamp(10px, calc(13 / 414 * 100vw), 13px);
		}
	}
	&.active {
		.header-media__img {
			img,
			video {
				transform: scale(1);
			}
		}
	}
}
