.site-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat";
	.page-numbers {
		margin: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: clamp(34px, vw(40), 40px);
		max-width: clamp(34px, vw(40), 40px);
		height: clamp(34px, vw(40), 40px);
		font-weight: 400;
		font-size: 14px;
		color: #fff;
		line-height: 1;
		border-radius: 8px;
		background-color: transparent;
		transition: background-color 0.3s;
		&:hover, &.current {
			background-color: #303030;
		}
		&.dots {
			pointer-events: none;
		}
	}
	.prev, .next {
		max-width: 100%;
		display: flex;
		align-items: center;
		column-gap: 8px;
		color: #fff;
		opacity: 0.8;
		transition: opacity 0.3s;
		// svg {
		// 	min-width: 20px;
		// }
		span {
			font-weight: 600;
			@media (max-width: $breakSmall) {
				display: none;
			}
		}
		&:hover {
			background: none;
			opacity: 1;
		}
	}
}
