.slider-buttons {
	margin-top: 10px;
	margin-right: clamp(30px, vw(75), 75px);
	margin-bottom: clamp(24px, vw(48), 48px);
	display: flex;
	justify-content: flex-end;
	column-gap: 20px;
	@media (max-width: $breakSmall) {
		margin-top: 24px;
	}
	& > div {
		cursor: pointer;
	}
	.swiper-button-disabled {
		cursor: default;
		img {
			opacity: 0.5;
		}
	}
	// .swiper-button-lock {
	// 	display: none;
	// }
}
