@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";
@import "../inc/header";
@import "../components/header-top-links";
@import "../components/header-media-common";
@import "../components/header-media-page";
@import "../components/header-menu";

@import "../inc/footer";
.about {
	$gap24: 24px;
	margin-top: clamp(20px, vw(35), 35px);
	margin-bottom: clamp(40px, vw(60), 60px);
	font-family: "Montserrat";
	font-size: 16px;
	line-height: calc(20 / 16);
	.about__title {
		margin-bottom: 24px;
		font-weight: 700;
		font-size: clamp(30px, vw(48), 48px);
		line-height: 1;
		color: #fff;
		text-align: center;
	}
	.mb-24 {
		margin-bottom: 24px;
		@media (max-width: 537.98px) {
			margin-bottom: 35px;
		}
	}
	.wc-row-2-538 {
		@media (min-width: 537.98px) {
			$gap24: 24px;
			display: flex;
			gap: $gap24;
			.wc-col {
				min-width: calc(50% - $gap24 / 2);
				max-width: calc(50% - $gap24 / 2);
				display: flex;
				flex-direction: column;
			}
		}
	}
	.wc-row-2-900 {
		@media (min-width: 899.98px) {
			display: flex;
			gap: $gap24;
			.wc-col {
				min-width: calc(50% - $gap24 / 2);
				max-width: calc(50% - $gap24 / 2);
				display: flex;
				flex-direction: column;
			}
			& > .wc-col {
				&:nth-child(2) {
					.wc-row-2-538 {
						margin-bottom: 24px;
					}
				}
			}
		}
		@media (max-width: 899.98px) {
			& > .wc-col {
				&:first-child {
					margin-bottom: 24px;
				}
				&:nth-child(2) {
					display: flex;
					flex-direction: column;
					.wc-row-2-538 {
						order: 2;
					}
					.info-grid-img {
						order: 1;
						margin-bottom: 35px;
					}
				}
			}
		}
	}
	.info-grid-img {
		flex-grow: 1;
	}
	.mini-grid {
		$mini-grid-gap: 10px;
		display: flex;
		flex-wrap: wrap;
		gap: $mini-grid-gap;
		&-item {
			min-width: calc(50% - $mini-grid-gap / 2);
			max-width: calc(50% - $mini-grid-gap / 2);
		}
	}
	.about-social {
		aspect-ratio: 159 / 105;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		background-color: var(--color-new-dark);
		svg path {
			transition: fill 0.3s;
		}
		&:hover {
			svg path {
				fill: var(--color-orange);
			}
		}
	}
	.info-item {
		padding: 20px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		background-color: var(--color-new-dark);
		@media (max-width: 537.98px) {
			margin-bottom: 35px;
		}
		&__count {
			margin-bottom: 21px;
			font-size: clamp(30px, vw(48), 48px);
		}
		&__title {
			margin-bottom: 24px;
			font-size: clamp(18px, vw(24), 24px);
		}
		&__text {
			font-weight: 300;
		}
		&--orange {
			color: var(--color-black);
			background-color: var(--color-orange);
			.info-item__text {
				color: inherit;
			}
		}
		&--white {
			color: var(--color-black);
			background-color: #fff;
			.info-item__text {
				color: inherit;
			}
		}
		&--grow {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
		}
	}
	.target {
		@media (min-width: $breakSmall) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 50px;
		}
		&__logo {
			min-width: clamp(200px, vw(330), 330px);
			max-width: clamp(200px, vw(330), 330px);
			@media (max-width: $breakSmall) {
				margin-inline: auto;
				margin-bottom: 30px;
			}
		}
		&__text {
			max-width: 627px;
			font-weight: 400;
		}
	}
	.image-grid {
		@media (min-width: 899.98px) {
			display: flex;
			column-gap: $gap24;
		}
		&__left {
			@media (max-width: 899.98px) {
				margin-bottom: 35px;
			}
			.image-grid-item__left {
				& > .grid-image {
					flex-grow: 1;
				}
			}
			.image-grid-item__right {
				& > .grid-image {
					height: 100%;
				}
			}
		}
		&__right {
			.image-grid-item__left {
				.grid-image {
					flex-grow: 1;
				}
			}
			.image-grid-item__right {
				display: flex;
				flex-direction: column;
				& > .grid-image {
					flex-grow: 1;
					margin-bottom: 24px;
				}
			}
		}
	}
	.image-grid-item {
		@media (min-width: 537.98px) {
			display: flex;
			column-gap: 20px;
		}
		@media (min-width: 899.98px) {
			min-width: calc(50% - $gap24 / 2);
			max-width: calc(50% - $gap24 / 2);
		}
		&__left {
			display: flex;
			gap: 20px;
			@media (min-width: 537.98px) {
				flex-direction: column;
				min-width: 31.7%;
				max-width: 31.7%;
			}
			@media (max-width: 537.98px) {
				margin-bottom: 35px;
				.grid-image {
					min-width: calc(50% - 10px);
					max-width: calc(50% - 10px);
				}
			}
		}
	}
	.mini-row {
		display: flex;
		column-gap: 20px;
		&-image {
			min-width: calc(50% - 10px);
			max-width: calc(50% - 10px);
		}
	}
}
.intro {
	max-width: 676px;
	&__text {
		font-weight: 400;
		color: var(--color-light-blue);
		text-align: center;
		line-height: inherit;
	}
}
.team {
	&__team-info {
		margin-bottom: clamp(35px, vw(50), 50px);
	}
}
.team-info {
	max-width: 714px;
	&__text {
		font-weight: 400;
		text-align: center;
	}
}
.members {
	max-width: 1144px;
}
.member {
	&__img {
		position: relative;
		min-width: clamp(200px, vw(268), 268px);
		max-width: clamp(200px, vw(268), 268px);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: hidden;
		transition: 0.7s;
	}
	&__img-front,
	&__img-back {
		width: 100%;
		height: 100%;
		transition: opacity 0.7s;
	}
	&__img-back {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
	&__name {
		margin-bottom: 7px;
		font-weight: 700;
		font-size: clamp(18px, vw(24), 24px);
		line-height: calc(29 / 24);
		color: #fff;
	}
	&__role {
		font-weight: 400;
		font-size: 16px;
		line-height: calc(20 / 16);
		color: var(--color-orange);
		@media (max-width: $breakMedium) {
			font-size: 16px;
		}
	}
	&__text {
		@media (min-width: $breakSmall) {
			max-width: 304px;
		}
	}
	&--founder {
		@media (min-width: 374.98px) {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: clamp(24px, vw(40), 40px);
		}
		.member__img {
			@media (max-width: $breakSmall) {
				min-width: 175px;
			}
			@media (max-width: 374.98px) {
				min-width: 250px;
				margin: 0 auto 24px;
			}
		}
		.member__info {
			@media (max-width: 374.98px) {
				text-align: center;
			}
		}
		.member__role {
			margin-bottom: 24px;
		}
	}
	&--employee {
		.member__img {
			margin-bottom: 24px;
			min-width: auto;
			max-width: auto;
		}
		.member__info {
			text-align: center;
		}
	}
	&--with-hover {
		.member__img {
			cursor: pointer;
			&:hover {
				border-radius: 24px;
				// @media (min-width: $breakSmall) {
				// 	min-width: clamp(calc(200px * 1.12), calc(vw(268) * 1.12), calc(268px * 1.12));
				// 	max-width: clamp(calc(200px * 1.12), calc(vw(268) * 1.12), calc(268px * 1.12));
				// }
				// @media (max-width: 374.98px) {
				// 	min-width: calc(250px * 1.12);
				// }
				.member__img-front {
					opacity: 0;
				}
				.member__img-back {
					opacity: 1;
				}
			}
		}
	}
}
.members__row {
	margin-top: clamp(35px, vw(50), 50px);
	$mb-row-gap: 24px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: $mb-row-gap;
}
.steps {
	@media (min-width: $breakMedium) {
		display: flex;
		justify-content: space-between;
		column-gap: clamp(50px, vw(108), 108px);
	}
	&__title-mobile {
		max-width: 350px;
		margin-bottom: 35px;
		text-align: center;
		@media (min-width: $breakMedium) {
			display: none;
		}
	}
	&__left {
		min-width: clamp(200px, vw(392), 392px);
		max-width: clamp(200px, vw(392), 392px);
		display: flex;
		flex-direction: column;
		@media (max-width: $breakMedium) {
			display: none;
		}
	}
	&__left-img-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
	}
	.steps-title {
		font-weight: 600;
		font-size: clamp(22px, vw(36), 36px);
		line-height: calc(44 / 36);
		color: #fff;
	}
	&__left-title {
		margin-bottom: 30px;
		max-width: 381px;
	}
	&__left-img {
		display: none;
		max-width: 393px;
		&.active {
			display: block;
		}
	}
	&__right {
		position: relative;
		@media (min-width: $breakMedium) {
			max-width: 686px;
		}
		.steps__vertical-line {
			position: absolute;
			content: "";
			top: 55px; // updated via js on load and resize in about.js file
			left: 10px;
			bottom: 50px; // updated via js on load and resize in about.js file
			width: 1px;
			background-color: var(--color-light-blue);
			z-index: -1;
		}
	}
	&__item {
		&:not(:first-child) {
			margin-top: clamp(35px, vw(70), 70px);
		}
	}
}
.step {
	display: flex;
	align-items: flex-start;
	column-gap: clamp(20px, vw(55), 55px);
	font-weight: 700;
	cursor: pointer;
	&.active {
		.step__point::after {
			background-color: var(--color-orange);
		}
		.step__number,
		.step__content-title {
			color: var(--color-orange);
		}
	}
	@media (max-width: $breakMedium) {
		&:hover {
			.step__point::after {
				background-color: var(--color-orange);
			}
			.step__number,
			.step__content-title {
				color: var(--color-orange);
			}
		}
	}
	&__point {
		position: relative;
		min-width: 20px;
		margin-top: 32px;
		font-size: clamp(24px, vw(48), 48px);
		line-height: 1;
		color: transparent;
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: var(--color-light-blue);
			transform: translate(-50%, -50%);
			transition: background-color 1s;
		}
	}
	&__number {
		margin-top: 32px;
		font-size: clamp(24px, vw(48), 48px);
		line-height: 1;
		color: #fff;
		transition: color 1s;
	}
	&__content-title {
		margin-bottom: 24px;
		font-size: clamp(18px, vw(24), 24px);
		line-height: 1;
		color: #fff;
		transition: color 1s;
	}
	&__content-text {
		font-weight: 300;
	}
	&__content-img {
		// margin: 30px auto 0;
		margin-top: 30px;
		max-width: 250px;
		display: none;
	}
}
