@font-face {
	font-family: "Poppins";
	font-display: swap;
	src:
		url("../../fonts/Poppins-Light.woff2") format("woff2"),
		url("../../fonts/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src: url("../../fonts/Montserrat-Light.woff2") format("woff2"), url("../../fonts/Montserrat-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@import "node_modules/reset-css/sass/reset";
@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/default";
@import "../inc/general";
@import "../inc/layout";
@import "../inc/header";
@import "../components/header-top-links";
@import "../components/header-media";
.header-media {
	aspect-ratio: 1376 / 450;
	transition: aspect-ratio 0.5s;
	@media (max-width: $breakLarge) {
		aspect-ratio: 1376 / 530;
	}
	@media (max-width: $breakSmall) {
		aspect-ratio: 428 / 260;
	}
	&.active {

	}
}
@import "../components/header-menu";
@import "../blocks/single-form";
@import "../blocks/faq";

@import "../inc/footer";
main {
	margin-bottom: clamp(40px, vw(60), 60px);
}
