@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";
@import "../inc/header";
@import "../components/header-top-links";
@import "../components/header-media-common";
.header-media {
	aspect-ratio: 1376 / 630;
	transition: aspect-ratio 0.5s;
	@media (max-width: $breakLarge) {
		aspect-ratio: 1376 / 730;
	}
	@media (max-width: $breakSmall) {
		aspect-ratio: 428 / 340;
	}
	&.active {

	}
}
@import "../components/header-menu";
@import "../components/hp-tracking";
@import "../blocks/single-features";
@import "../blocks/cars-table";
@import "../blocks/why-we";
@import "../blocks/choice";
@import "../blocks/single-form";
@import "../blocks/faq";
@import "../blocks/feedbacks";

@import "../components/previews";
@import "../inc/footer";
@import "../components/contact-form";
@import "../components/popup";
main {
	margin-bottom: clamp(40px, vw(60), 60px);
}
