@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src: url("../../fonts/Montserrat-Light.woff2") format("woff2"), url("../../fonts/Montserrat-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src:
		url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src:
		url("../../fonts/Poppins-Light.woff2") format("woff2"),
		url("../../fonts/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../../fonts/Poppins-Regular.woff2") format("woff2"), url("../../fonts/Poppins-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src:
		url("../../fonts/Poppins-Bold.woff2") format("woff2"),
		url("../../fonts/Poppins-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src:
		url("../../fonts/Poppins-SemiBold.woff2") format("woff2"),
		url("../../fonts/Poppins-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@import "node_modules/reset-css/sass/reset";
@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/default";
@import "../inc/general";
@import "../inc/layout";
@import "../components/header-top-links";
@import "../components/header-media";
.header-media {
	aspect-ratio: 1376 / 630;
	transition: aspect-ratio 0.5s;
	&.active {
		aspect-ratio: 1376 / 430;
	}
}
@import "../components/hp-tracking";
@import "../blocks/single-features";
@import "../blocks/cars-table";
@import "../blocks/why-we";
@import "../blocks/choice";
@import "../blocks/single-form";
@import "../blocks/faq";

footer {
	margin-top: 100px;
	height: 100px;
}
