@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";
@import "../inc/header";
@import "../components/header-top-links";
@import "../components/header-media-common";
.header {
	margin-bottom: clamp(22px, vw(36), 36px);
	.testimonials-title {
		font-family: "Montserrat";
		font-weight: 800;
		font-size: clamp(26px, vw(48), 48px);
		line-height: calc(50 / 48);
		color: #fff;
	}
	.header-info {
		position: relative;
		max-width: 90%;
		margin-inline: auto;
		padding: 40px clamp(15px, calc(50 / 730 * 100vw), 50px);
		background-color: rgba(#1b1b1b, 0.9); // --color-new-dark
		border-radius: clamp(24px, calc(32 / 730 * 100vw), 32px);
		margin-top: -9%;
		@media (max-width: 575.98px) {
			margin-top: -14%;
		}
		&__title {
			margin-bottom: 24px;
			font-size: clamp(30px, vw(48), 48px);
		}
		&__text {
			font-family: "Montserrat";
			font-weight: 300;
			font-size: clamp(18px, vw(24), 24px);
			line-height: calc(29 / 24);
			color: var(--color-light-blue);
		}
		@media (min-width: 729.98px) {
			display: none;
		}
	}
}
.header-media {
	aspect-ratio: 1376 / calc(604 * 0.6);
	@media (max-width: $breakLarge) {
		aspect-ratio: 1376 / calc(604 * 0.6);
	}
	@media (max-width: 799.98px) {
		aspect-ratio: 1376 / calc(650 * 0.6);
	}
	@media (max-width: $breakSmall) {
		aspect-ratio: 428 / calc(350 * 0.6);
	}
	&.active {
		aspect-ratio: 1376 / 604;
		@media (max-width: $breakLarge) {
			aspect-ratio: 1376 / 604;
		}
		@media (max-width: 799.98px) {
			aspect-ratio: 1376 / 650;
		}
		@media (max-width: 729.98px) {
			aspect-ratio: 1376 / 800;
		}
		@media (max-width: $breakSmall) {
			aspect-ratio: 428 / 350;
		}
	}
	.header-menu {
		.menu {
			@media (min-width: $breakLarge) {
				background-color: var(--color-new-dark);
			}
		}
	}
	.header-menu-btn {
		background: url("../../img/header-menu-contur-black.svg") no-repeat;
		background-size: contain;
		&__inner {
			top: 10px;
		}
	}
	&__info {
		height: 100%;
		@media (min-width: 729.98px) {
			display: flex;
			align-items: flex-end;
		}
		@media (min-width: 899.98px) {
			align-items: center;
		}
	}
	&__info-left {
		@media (min-width: 729.98px) {
			min-width: 52%;
			max-width: 52%;
			padding-left: clamp(65px, vw(94), 94px);
			padding-right: 20px;
		}
		@media (min-width: 729.98px) and (max-width: 899.98px) {
			margin-bottom: 20px;
		}
		@media (max-width: 729.98px) {
			display: none;
		}
	}
	&__title {
		margin-bottom: clamp(25px, vw(37), 37px);
	}
	&__text {
		font-family: "Montserrat";
		font-weight: 300;
		font-size: clamp(17px, vw(24), 24px);
		line-height: calc(29 / 24);
		color: var(--color-light-blue);
	}
	&__info-img {
		border-radius: clamp(24px, vw(30), 30px) 0 clamp(24px, vw(30), 30px) clamp(24px, vw(30), 30px);
		overflow: hidden;
		height: 100%;
		@media (min-width: 729.98px) {
			min-width: 48%;
			max-width: 48%;
		}
	}
}
@import "../components/header-menu";

// .page-template-testimonials {}
@import "../components/feedback";
.testimonials {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	@media (max-width: $breakSmall) {
		flex-direction: column;
	}

	.feedback {
		min-width: 100%;
		max-width: 100%;
		@media (min-width: $breakSmall) {
			min-width: calc(50% - 10px);
			max-width: calc(50% - 10px);
		}
		@media (min-width: $breakMedium) {
			min-width: calc(100% / 3 - 40px / 3);
			max-width: calc(100% / 3 - 40px / 3);
		}
	}
}

@import "../components/pagination";
@import "../blocks/single-form";
@import "../blocks/promo";
@import "../inc/footer";
main {
	margin-bottom: clamp(40px, vw(60), 60px);
}
