@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";
@import "../inc/header";
@import "../components/header-media-common";
@import "../components/header-menu";
@import "../components/header-media-simple";

@import "../components/header-media-page";
@import "../components/header-menu";

.page-template-tracking {
	// margin-top: 20px;
	font-family: "Montserrat";
	.simple-menu-wrapper {
		margin-bottom: 47px;
		@media (max-width: $breakLarge) {
			margin-bottom: 15px;
		}
	}
}

main {
	margin-bottom: clamp(40px, vw(60), 60px);
}

#tracking_system_root {
	border-radius: 40px;
	overflow: hidden;
}
.tracking-wrapper {
	border-radius: 35px;
	overflow: hidden;
}
.tracking-search-wrapper {
	position: relative;
	margin-bottom: -75px;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: var(--color-new-dark);
	z-index: 2;
}
.tracking-search {
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	flex-grow: 1;
	max-width: 400px;
	font-family: "Montserrat";
	background-color: #303030;
	border-radius: 26px;
	&__input {
		flex-grow: 1;
		height: 100%;
		padding: 0 20px;
		font-family: inherit;
		font-weight: 400;
		font-size: 16px;
		color: var(--color-white);
		@media (max-width: $breakSmall) {
			font-size: 15px;
		}
	}
	&__btn-wrapper {
		height: 100%;
		margin-left: auto;
		@media (min-width: $breakSmall) {
			width: 130px;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		min-width: 112px;
		height: 100%;
		font-family: inherit;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		border-radius: 26px;
		transition: min-width 0.7s;
		@media (min-width: $breakSmall) {
			&:hover {
				min-width: 100%;
			}
		}
		@media (max-width: $breakSmall) {
			min-width: 100px;
			font-size: 14px;
		}
	}
	&__message {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		bottom: -4px;
		font-size: 14px;
		text-align: center;
		line-height: 1;
		color: var(--color-orange);
		transform: translateY(100%);
	}
}
.api-container {
	padding: 0;
	overflow: visible;
	// border-radius: 10px;
	// box-shadow: 0px 0px 10px var(--color-light-blue);
	// box-shadow: 0px 0px 46px var(--color-medium-dark);
	// box-shadow: 0 0 3px var(--color-medium-dark);
}
.car-api {
	font-family: "Montserrat";
	color: var(--color-white);
	border-radius: 10px;
	overflow: hidden;
	.main-top-bar {
		position: relative;
		height: 50px;
		background-color: var(--color-orange-hover);
		@media (max-width: $breakMedium) {
			border-radius: 10px;
		}
		&__close {
			position: absolute;
			width: 36px;
			height: 36px;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			svg rect {
				fill: #000;
				fill: #fff;
			}
		}
	}
	.car-ap-content {
		padding: 40px 0;
		border-radius: 20px;
		@media (min-width: $breakMedium) {
			padding: 50px 20px;
			border-left: 1px solid var(--color-medium-dark);
			border-right: 1px solid var(--color-medium-dark);
			border-bottom: 1px solid var(--color-medium-dark);
		}
	}
	&__title {
		margin-bottom: 35px;
		font-weight: 600;
		font-size: 28px;
	}
	&__info-row:not(:last-child) {
		margin-bottom: 30px;
	}
	.info-row {
		&--col-2 {
			@media (min-width: $breakExtra) {
				display: flex;
				column-gap: 20px;
				.info-col {
					min-width: calc(50% - 10px);
					max-width: calc(50% - 10px);
				}
			}
			@media (max-width: $breakExtra) {
				.info-col:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}
	}

	.info-col {
		border: 1px solid var(--color-orange);
		border-radius: 10px;
		overflow: hidden;
		&-bar {
			padding: 10px 20px;
			background-color: var(--color-orange);
		}
		&-bar-title {
			font-weight: 600;
			font-size: 24px;
			line-height: 1;
			color: var(--color-new-dark);
		}
		&-content {
			padding: 20px;
		}
	}
	.info-col-line {
		line-height: 1.6;
		@media (min-width: $breakMedium) {
			display: flex;
			column-gap: 20px;
		}
		&__title {
			font-weight: 700;
			font-size: 20px;
			letter-spacing: 0.07em;
			flex-grow: 1;
			max-width: 300px;
			@media (min-width: $breakExtra) and (max-width: $breakHuge) {
				max-width: clamp(260px, vw(300), 300px);
				font-size: clamp(16px, vw(20), 20px);
			}
		}
		&__text {
			font-weight: 400;
			font-size: 20px;
			@media (max-width: $breakHuge) {
				font-size: clamp(16px, vw(20), 20px);
			}
		}
	}
	.car-gallery {
		display: grid;
		gap: 15px;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}

	.car-gallery__item {
		aspect-ratio: 120 / 90; /* Устанавливаем соотношение сторон */
		width: 100%; /* Ширина элемента занимает всю доступную ширину ячейки */
		border-radius: 7px;
		overflow: hidden;
		cursor: zoom-in;
		filter: brightness(70%);
		transition: filter 0.5s;
		&:hover {
			filter: brightness(100%);
		}
	}
}

@import "../inc/footer";
