@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";

.container--feedbacks {
	overflow: hidden;
}
.feedbacks {
	font-family: "Montserrat";
	&-slider {
		@media (max-width: 1139.98px) {
			overflow: visible;
		}
		&--no-swiper {
			.swiper-wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
			}
			.swiper-slide {
				min-width: calc(100% / 3 - 40px / 3);
				max-width: calc(100% / 3 - 40px / 3);
			}
			.feedbacks-slider__buttons {
				display: none;
			}
		}
	}
	@import "../components/slider-buttons";
	@import "../components/feedback";
}
.feedbacks-header {
	@media (min-width: $breakMedium) {
		display: flex;
		column-gap: 50px;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		@extend %home-page-h2;
		@media (min-width: $breakMedium) {
			max-width: 598px;
		}
		@media (min-width: $breakSmall) and (max-width: $breakMedium) {
			max-width: 80%;
		}
		@media (max-width: $breakMedium) {
			margin-bottom: 30px;
		}
	}
	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: calc(20 / 16);
		color: var(--color-light-blue);
		@media (min-width: $breakSmall) and (max-width: $breakMedium) {
			max-width: 80%;
		}
		@media (min-width: $breakMedium) {
			max-width: 564px;
		}
	}
}
