@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";

.location {
	max-width: 1218px;
	font-family: "Montserrat";
	&__header {
		text-align: center;
	}
	&__subtitle {
		margin-bottom: 14px;
		font-weight: 700;
		font-size: 16px;
		line-height: calc(20 / 16);
		color: var(--color-orange);
	}
	&__title {
		margin-bottom: 14px;
		font-weight: 700;
		font-size: clamp(30px, vw(60), 60px);
		line-height: calc(72 / 60);
		color: #fff;
		text-align: center;
	}
	&__text {
		margin-bottom: clamp(35px, vw(48), 48px);
		font-weight: 400;
		font-size: 16px;
		line-height: calc(20 / 16);
		color: #fff;
		text-align: center;
	}
}
