@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";
.cars-wrapper {
	&__title {
		margin-bottom: clamp(35px, vw(50), 50px);
		max-width: 465px;
		@extend %home-page-h2;
	}
	.cars {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	.car {
		position: relative;
		min-width: calc(100% / 3 - 40px / 3);
		max-width: calc(100% / 3 - 40px / 3);
		background-color: var(--color-new-dark);
		border-radius: clamp(16px, vw(26), 26px);
		overflow: hidden;
		transition: background-color 0.5s;
		cursor: pointer;
		@media (max-width: $breakLarge) {
			min-width: calc(50% - 10px);
			max-width: calc(50% - 10px);
		}
		@media (max-width: $breakSmall) {
			min-width: 100%;
			max-width: 100%;
		}
		&:hover {
			background-color: var(--color-orange);
			.car__link-img svg {
				transform: rotate(45deg);
			}
			.car__info {
				color: #0B0A0A;
			}
			.car__link {
				column-gap: 25px;
			}
		}
	}
	.car__img {
		width: 68%;
		margin-left: auto;
		padding: 43px 0 19px;
	}
	.car__info {
		position: absolute;
		width: 45%;
		top: clamp(16px, vw(32), 32px);
		left: clamp(14px, vw(28), 28px);
		font-family: "Poppins";
		transition: color 0.5s;
		&-title {
			margin-bottom: 10px;
			font-weight: 700;
			font-size: clamp(18px, vw(23), 23px);
			line-height: 1.2;
		}
		&-year {
			margin-bottom: 18px;
			font-weight: 400;
			font-size: clamp(16px, vw(24), 24px);
		}
	}
	.car__link {
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		column-gap: 10px;
		padding: 8px 12px;
		color: #fff;
		background-color: var(--color-black);
		border-radius: 0 40px 40px 0;
		transition: column-gap 1s;
		&-text {
			font-family: "Poppins";
			font-weight: 600;
			font-size: clamp(16px, vw(24), 24px);
			line-height: 1;
		}
		&-img {
			width: clamp(28px, vw(35), 35px);
			height: clamp(28px, vw(35), 35px);
			svg {
				transform-origin: center;
				transition: transform 1s;
			}
		}
		.visible-text {
			display: inline-block;
			transition: 0.3s;
		}
	}

}
