@import "../inc/vars";
@import "../inc/mixins";
@import "../inc/extends";

.video-form-wrapper {
	@media (max-width: $breakSmall) {
		border-radius: 24px;
		overflow: hidden;
	}
	.form-header {
		font-family: "Montserrat";
		margin-bottom: clamp(30px, vw(45), 45px);
		&__title {
			margin-bottom: 28px;
			font-weight: 600;
			font-size: clamp(28px, vw(44), 44px);
			line-height: calc(56 / 44);
			color: var(--color-orange);
		}
		&__text {
			font-weight: 300;
		}
	}
	.form-wrapper {
		@media (min-width: $breakSmall) {
			display: flex;
			border: 1px solid var(--color-orange);
		}
		&__left {
			padding: 32px;
			background-color: var(--color-new-dark);
			@media (min-width: $breakSmall) {
				min-width: clamp(350px, vw(560), 560px);
				max-width: clamp(350px, vw(560), 560px);
			}
			@media (max-width: $breakSmall) {
				padding: 32px clamp(14px, calc(32 / 576 * 100vw), 32px);
			}
		}
		&__right {
			flex-grow: 1;
		}
		@import "../components/video-wrapper";
		.video-wrapper {
			video, img {
				@media (min-width: $breakSmall) {
					height: 100%;
					object-fit: cover;
					object-position: top center;
				}
			}
		}
	}
}
